body {
	background-image: url('../img/background.jpg');
}

.ht {
	color: white;
	font-family: helvetica;
	font-weight: normal;
}

input[type="text"]{

  background-color : #909090; 

}

input[type="password"]{

  background-color : #909090; 

}

input[type="submit"]{
  font-size: 20px;
  background-color : #FF6600; 
  color: white;
  position: relative;
  left: 180px;

}

#mydiv {
    position:fixed;
    top: 50%;
    left: 59%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    
    
}

#myImg {
	position: relative;
	left: 80px;
}

input
{
  -moz-border-radius: 5px;
 border-radius: 2px;
    border:solid 1px #d1d1d1;
    padding:5px;
}